.header
    background-color: plum
    text-align: center
    display: flex
    flex-direction: column
    width: 100%
    background: url('../assets/covid3.jpg')
    background-size: 120rem 53rem
    background-repeat: no-repeat
    color: white
    font-size: 1rem
    text-shadow: 1px 1px 5px black
    font-weight: 700

    &__top
        margin: 1rem auto
    &__title
        letter-spacing: .6rem
        text-transform: uppercase
    &__body
        width: 100%
        display: flex
        justify-content: center
        flex-wrap: wrap
        margin: 0

    &__element
        min-width: 200px
        width: 100%
        margin: .5rem
    
    &__text
        margin: 0 .25rem

@media screen and ( min-width: 450px ) 
    .header
        &__element
            width: auto